<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema de Livraria</title>

<th:block th:include="fragments/cabecalho :: head"></th:block>

</head>
<body>
	<th:block th:include="fragments/apresentacao :: presentation"></th:block>
	<th:block th:include="fragments/menu :: menu"></th:block>
	<div>
	<br />
		<p>Desta maneira, a execução dos pontos do programa desafia a capacidade de equalização do sistema de </p>
		<p>formação de quadros que corresponde às necessidades. Desta maneira, a execução dos pontos do programa desafia a </p>
		<p>capacidade de equalização do sistema de formação de quadros que corresponde às necessidades.</p>
	<br />
	</div>
</body>
<footer>
	<th:block th:include="fragments/rodape :: rodape"></th:block>
</footer>
</html>